{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block pagetitle %}Projects{% endblock %}

{% load static %}

{% block content %}


	<!-- Main content -->
    <section class="content">

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message|safe }}</div><br/>
            {% else%}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div><br/>
            {% endif %}
        {% endfor %}
    {% endif %}

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of projects</h3>
              <div class="card-tools">
                <a href="{% url 'project_add' %}" class="btn btn-block btn-primary"><i class="fas fa-plus"></i> &nbsp Add New Project</a>
              </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="project_list" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Duration</th>
                  <th>Created On</th>
                  <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for object in object_list%}
                        <tr>
                            <td>{{object.name}}</td>
                            <td>{{object.duration}}</td>
                            <td>{{object.createdAt}}</td>
                           <td class="text-center">
                                <a href="{% url 'task_list' object.id %}" class="btn btn-sm btn-primary" title="View"><i class="fas fa-list"></i> Tasks</a>
                                <a href="{% url 'project_view' object.id %}" class="btn btn-sm btn-secondary" title="View"><i class="fas fa-eye"></i> View</a>
                                <a href="{% url 'project_edit' object.id %}" class="btn btn-sm btn-info" title="Edit"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <a href="{% url 'project_delete' object.id %}" class="btn btn-sm btn-danger" title="Delete"><i class="fas fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
	  

{% endblock  %}
